<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AspiritechJIRABugReportBrowser.Properties.Settings.masterConnectionString"
            connectionString="Data Source=ASPIRITECH-PC21;Initial Catalog=master;Persist Security Info=True;User ID=Aspiritech;Password=Shalom@1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>